.code-snippet {
    background-color: #555555;
}

pre {
    display: block;
    font-family: monospace;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 16px;
    line-height: 1.42857143;
    color: white;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #555555;
    border: 0px solid #ccc;
    border-radius: 4px;
}

.syntax-comment {
    color: #B4C878
}
.syntax-keyword {
    color: #FEC574
}
.syntax-asn {
    color: #6E9ABA
}